body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

table{
    border: 1px solid #000;
}

img{
    height: 400px;
    width: 200px;
}

h1{
    color: #333;
    font-size: 20px;
}

h2{
    color: #666;
    font-size: 16px;
}

a{
    color: blue;
    font-size: 12px;
}

p, li, td{
    color: #000;
    font-size: 12px;
}

th{
    color: #fff;
    font-size: 14px;
}

th, td{
    padding: 10px;
}