html{
    background-color: #1b2a4e;
}

body{
    background-color: #1b2a4e;
}

nav{
    background-color: aliceblue;
    padding: 20%;
}

p{
    color: black;
}

footer{
    background-color: aliceblue;
    height: 20%;
}
ul {
    display: inline-block;
    @media (min-width: 768px) {
      text-align: left;
    }
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: aliceblue;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: blanchedalmond;
}