html{
    background-color: #1b2a4e;
}

header{
    height: 10%;
    background-color: aliceblue;
}

body{
    padding: 50%;
}

hr{
    width: auto;
}

footer{
    background-color: aliceblue;
    height: 20%;
}