html{
    background-color: #1b2a4e;
}

body{
    background-color: #1b2a4e;
}

nav{
    background-color: aliceblue;
    padding: 20%;
}

p{
    color: black;
}

footer{
    background-color: aliceblue;
    width: 100%;
    height: 30%;
}
ul {
    display: inline-block;
    @media (min-width: 768px) {
      text-align: left;
    }
}