<!DOCTYPE html>
<html>
    <head>
        <title>Form</title>
    </head>
    <body>
    
        <form action="/retorno" method="get">
            <fieldset>
                <legend><b> Formulario </b></legend>
                <label for="nombreUser">Nombre:</label>
                <input type="text" name="nombreUser" required> <br><br>
                <label for="contraseña">Apellido:</label>
                <input type="text" name="apellido" required><br><br>
                <label for="contraseña">Juego favorito:</label>
                <input type="text" name="juego" required><br>
            </fieldset>
                <input type="submit" value="Listop">
        </form>
        
    </body>
</html>